* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #4c3d19;
}

.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
    background-color: #354024;
    color: #E5D7C4;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: #E5D7C4;
}

nav {
    background-color: #889063;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
}

nav ul.active {
    display: flex;
}

nav a {
    display: block;
    padding: 1em;
    color: #E5D7C4;
    text-decoration: none;
}

nav a:hover {
    background-color: #354024;
    color: #CFBB99;
}

.menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 30px;
    padding: 0.5em;
}

main {
    padding: 1rem;
}

.elvalaszto {
    border-bottom: #4c3d19 solid 3px;
}

h2 {
    text-align: center;
    font-size: 35px;
}

h3 {
    text-align: center;
    font-size: 30px;
}

.bevezeto {
    text-align: center;
    font-size: 18px;
}

.szoveg p {
    line-height: 1.3;
}

.marginalul {
    display: block;
    margin-bottom: 1rem;
}

.imgírás {
    margin:0;
    margin-bottom: 1em;
    border-radius: 5%;
}

.imgírás p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 1rem;
    margin: 0;
}

.hatter {
    background-color: #889063;
}

.hatter a {
    color:#E5D7C4;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5%;
}

.kartya {
    background-color: #E5D7C4;
    border: 1px solid #CFBB99;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 5%;
}

.kartya img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}

.kartya h3 {
    font-size: 25px;
    text-decoration: underline;
    margin: 0.5em;
}

.kartya p {
    line-height: 1.2;
    text-align: center;
    font-weight: bolder;
}

/* űrlap formázás */

.form-group { 
    margin-bottom: 1em; 
}

label { 
    display: block; 
    margin-bottom: 0.5em;
    font-weight: bold; 
}


input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"], select, textarea, input[type="file"] {
    width: 100%;
    padding: 0.8em;
    border: 1px solid #889063;
    color: #4c3d19;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input::placeholder {
    color: #889063;
}

.radio-group label, .checkbox-group label {
    display: inline; 
    font-weight: bold; 
}

input[type="radio"], input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 0.5em; 
}

.opcio {
    margin: 0.5em;
}

.radio-group, .checkbox-group {
    margin-bottom: 1em;
}

button { 
    width: 100%; 
    padding: 12px; 
    background-color: #889063; 
    color: #E5D7C4; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold;
}
button:hover { 
    background-color: #354024; 
    color: #CFBB99;
}

.error { 
    color: #dc3545; 
    font-size: 0.85em; 
    margin-top: 5px; 
    height: 0.8em; 
}

/* Kalkulátor */

.kérdés {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.válasz {
    margin: 0 0 0.5em 0;
}

footer {
    background: #354024;
    color: #E5D7C4;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

@media (min-width: 40em) {
    section p {
        font-size: 18px;
    }

    .bevezeto {
        font-size: 22px;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 34px;
    }

    .egysorba {
        display: flex;
        flex-wrap: wrap;
        gap: 6%;
        justify-content: center;
        align-items: center;  
    }

    .imgírás {
        width: 47%;
    }

    .szoveg {
        width: 47%;
    }
    
    #emilykep {
        width: 47%;
    }

    .kartya {
        width: 47%;
    }
}
@media (min-width: 60em) {
    section p {
        font-size: 22px;
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 38px;
    }

    .bevezeto {
        font-size: 26px;
    }

    .imgírás {
        width: 28%;
    }

    .kartya {
        width: 28%;
    }

}

